@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #121212;
  --dark-color-b: #181818;
  --light-color: #e6e9ff;
  --light-color-b: #b6b6b6
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--dark-color-a);
  margin: 20px;
}

ul {
  list-style: none;
}

a{
  width: auto;
  height: auto;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.btn {
  border: none;
  color: white;
  font-weight: bold;
  background-color: #082c6c ;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 23px;
  border-radius: 20px;
}

.btn:hover{
    background-color: #0341ad;
  box-shadow: 0px 8px 30px -8px #0044ff52;
  transition: 0.3s all;

}

/* Chat Page */

.chat-container {
  max-width: 1100px;
  background: var(--dark-color-b);
  margin: 30px auto;
  overflow: hidden;
}

.chat-header {
  background: #082c6c;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--light-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--dark-color-b);
  border-radius: 5px;
}

.chat-messages .text {
  color: rgb(255, 255, 255);
}

.chat-messages .message .meta {
  font-size: 15px;
  /* font-weight: bold; */
  color: rgb(0, 255, 200);
  opacity: 0.9;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: rgb(216, 216, 216);
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-b);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  margin-right: 30px;
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

.chat-form-container input[type="password"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

.chat-form btn{
  margin-top: 0px;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: #082c6c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}


.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  border: none;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 10px 30px #00000056;
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main input[type="password"] {
  border: none;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 10px 30px #00000056;
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
   width: 100%;
   margin-top: 20px;
   padding: 10px 0px;
  border: none;
  border-radius: 8px;
  outline: none;
  color: #ffffff;
  background-color: #082c6c;
  border:none;
  cursor: pointer;
  box-shadow: 0px 10px 30px #00000056;
}

.error {
  background: rgba(255, 0, 0, 0.342);
  color: #fff;
  padding: 5px;
  margin: 5px;
}

.join-main .btn:hover {
  background-color: #0341ad;
  box-shadow: 0px 10px 40px -12px #0044ff52;
  transition: 0.3s all;
}

.register {
  display: inline-block;
  margin-top: 25px;
  background: var(--dark-color-b);
  color: var(--light-color);
  text-align: center;
}


@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
